<div layout="vertical" layout-fill>

  <md-content>
    <!--<header>-->
      <!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
    <!--</header>-->

    <section class="jumbotron">
      <!--<h1>'Allo, 'Allo!</h1>-->
      <img src="assets/images/laleme_small.png" alt="I'm Yeoman"><br>
      <p class="lead">
        <img src="assets/images/shit2.jpg" alt="I'm Yeoman" height="6%" width="6%"><br>
        Enjoy your shitting.
      </p>
      <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">恩~~~啊~~</md-button>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['喻圣明', '虞振品', '周晨宇', 'qeesung']"></acme-malarkey>
      </p>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.name }}">
          <div class="md-title" style="font-size: 30px;">{{ awesomeThing.name }}</div>
          <div class="md-title" style="font-size: 30px; display: inline-block; font-weight: 600">{{ awesomeThing.sex }}</div>
          <div class="md-title" style="font-size: 30px; display: inline-block;color: #42bb33;" ng-if="awesomeThing.available == true">
            &nbsp;&nbsp;已空闲时间: {{awesomeThing.time_diff}} seconds
          </div>
          <div class="md-title" style="font-size: 30px; display: inline-block;color: #bb8f24" ng-if="awesomeThing.available == false">
            &nbsp;&nbsp;已被上时间: {{awesomeThing.time_diff}} seconds
          </div>
        </md-card-content>
        <div class="toilet-status">
          <md-button ng-if="awesomeThing.available == true" style="background-color: #42bb33; width: 300px; height: 170px; border-radius: 50px">
            <!--<span style="font-size: 350%">没人上</span>-->
            <img src="assets/images/no_one.png" alt="I'm Yeoman"><br>
          </md-button>
          <md-button ng-if="awesomeThing.available == false" style="background-color: #bb8f24; width: 300px; height: 170px; border-radius: 50px">
            <img src="assets/images/have_one.png" alt="I'm Yeoman"><br>
          </md-button>
        </div>
      </md-card>
    </div>
  </md-content>

</div>
