<div layout="vertical" layout-fill>

  <md-content>
    <!--<header>-->
      <!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
    <!--</header>-->

    <section class="jumbotron">
      <!--<h1>'Allo, 'Allo!</h1>-->
      <img src="assets/images/laleme_small.png" alt="I'm Yeoman"><br>
      <p class="lead">
        <img src="assets/images/shit2.jpg" alt="I'm Yeoman" height="6%" width="6%"><br>
        Enjoy your shitting.
      </p>
      <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">噗~噗~~~~</md-button>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['喻圣明', '虞振品', '周晨宇', 'qeesung']"></acme-malarkey>
      </p>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <h1 class="md-title" style="font-size: 30px">{{ awesomeThing.title }}</h1>
          <p>{{ awesomeThing.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
        </div>
      </md-card>
    </div>
  </md-content>

</div>
